*{
    padding: 0;
    margin: 0;
    text-align: center;
}

h1{
    background-color: #1E2D2F;
    color: #F7DBA7;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit:cover;
    border-radius: 50%;
}

.choice:hover{
    cursor:pointer;
    background-color: #1E2D2F;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 6rem;
    font-size: 2rem;
}

#user-score,#comp-score{
    font-size: 4rem;
}

#msg{
    background-color:#1E2D2F;
    color: aliceblue;
    line-height: 4rem;
    font-size: 2rem;
    display:inline;
    padding: 0.8rem;
    border-radius: 1rem;
}

.msg-container{
    margin-top: 5rem;
}
